# Node
node_modules/
dist/
.cache/
*.tsbuildinfo

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Environment
.env
.env.local
backstage/.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# Docker
*.tar

# macOS
.DS_Store
